{% extends 'index.html' %}

{% block content %}
<h1 style="text-align: center">Read, Write, and Connect</h1>

<div class="buttonContainer">
  <a href="/create">Start Writing</a>
</div>

<h3 style="text-align: center">Discover Books Below!</h3>

<!-- TODO: Make this page look better -->

<div class="bookContainer">
  <div class="row">
    {% for book in books %}
    <div class="column">
      <a href="/{{ book.id }}">
        <img style=" width: 33.3%" alt="{{ book.img_name }}" src="{{ './static/images/' + book.img_name }}">
      </a>
      <p>
        {{ book.title }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}