{% extends 'index.html' %} 

{% block content %}
<h1 style="text-align: center">Read, Write, and Connect</h1>

<div class="buttonContainer">
  <a href="/create">Start Writing</a>
</div>

<h3 style="text-align: center">Discover Books Below!</h3>

<div class="bookContainer">
  <div class="row">
    {% for book in books %}
      <div class="column">
        <img
          src="{{ url_for('static', filename='images/book1.jpeg') }}"
          alt="{{ book['img_name'] }}"
          style="width: 33.3%"
        />
        <!-- this p below is to debug since we only have placeholder image for now -->
        <p>
          {{ book['title'] }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}