{% extends 'index.html' %} {% block content %}

<div class="container">
  <h2>WRITE.</h2>
  <h3>READ.</h3>
  <h3>CONNECT.</h3>
</div>

<h5 style="text-align: center">DISCOVER HUNDREDS OF BOOKS.</h5>

<h6 style="text-align: center">ALL IN ONE PLACE.</h6>

<div class="floatingbook">
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
  <img src="./static/images/floatingbook2.png" />
</div>

<!-- <div class="bookContainer">
  <div class="row">
    {% for book in books %}
    <div class="column">
      <img
        src="{{ './static/images/' + book.img_name }}"
        alt="{{ book.img_name }}"
        style="width: 33.3%"
      />
      <p>{{ book.title }}</p>
    </div>
    {% endfor %}
  </div> -->

  {% endblock %}
</div>
