<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Book Tracker">
    <meta property="og:description" content="Book Tracker">
    <meta property="og:url" content="{{ url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <h1>Book Hub</h1>
            </a>
        </div>
    </header>
    <h1 style="text-align: center;">Add a New Book</h1>
    <h3 style="text-align: center;">Want to recommend this book to a fellow reader? Add it below!</h3>
    <section>
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label for="book_name">Book Title</label>
                <input type="text" class="form-control" name="book_name" id="book_name" aria-describedby="bookName"
                    placeholder="Enter book title">
            </div>
            <div class="form-group">
                <label for="book_author">Author</label>
                <input type="text" class="form-control" name="book_author" id="book_author"
                    aria-describedby="bookAuthor" placeholder="Enter book author">
            </div>
            <div class="form-group">
                <label for="date_added">Date Added</label>
                <input type="date" class="form-control" name="date_added" id="date_added" aria-describedby="dateAdded"
                    placeholder="Enter the date you added this book">
            </div>
            <div class="form-group">
                <label for="book_image">Book Cover</label>
                <input type="file" class="form-control" name="book_image" id="book_image"
                    aria-describedby="bookCover" />
            </div>
            <div class="form-group">
                <label for="book_notes">Thoughts</label>
                <textarea class="form-control" name="book_notes" id="book_notes" rows="3"
                    placeholder="Give a brief summary of this book"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add book!</button>
        </form>
    </section>
</body>

</html>